*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background: #0f172a;
    color:white;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
body:before{
    content: "";
    position:fixed;
    width:200%;
    height:200%;
    background:radial-gradient(circle at 20% 30%,#38bdf820,transparent 40%),
               radial-gradient(circle at 80% 70%,#0ea5e920,transparent 40%);
    animation:moveBg 15s linear infinite alternate;
    z-index:-1;
}
@keyframes moveBg {
    from{
        transform:translate(0,0);
    }
    to{
        transform:translate(-100px,100px);
    }
}
header{
    position:fixed;
    width:100%;
    top:0;
    backdrop-filter:blur(15px);
    background:rgba(15,23,42,0.7);
    border-bottom :1px solid rgba(255,255,255,0.05);
    z-index:1000;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:18px 8%;
}
.logo{
    font-size:1.6rem;
    font-weight:700;
    background:linear-gradient(90deg,#38dbf8,#0ea5e9);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.nav-links{
    display:flex;
    list-style:none;
}
.nav-links li{
    margin-left:30px;    
}
.nav-links a{
    text-decoration:none;
    color:white;
    position:relative;
    transition:0.3s;
}
.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:2px;
    background:#38bdf8;
    transition:0.4s ease;
}
.nav-links a:hover::after{
    width:100%;
}
.nav-links a:hover{
    color:#38bdf8;
}

/* .menu-toggle{
    display:none;
    font-size:1.8rem;
    cursor:pointer;
}
section{
    padding:100px 8%;
} */
.hero{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:0 10%;
    /* background:linear-gradient(135deg,#0f172a,#1e293b); */
}
.hero h1{
    font-size:3rem;
    animation:fadeInUp 1s ease forwards;
}
.hero span{
    background:linear-gradient(90deg,#38bdf8,#0ea5e9);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.hero p{
    margin-top:15px;
    font-size:1.2rem;
    opacity:0.8;
    animation:fadeInUp 1.5s ease forwards;
}
.btn {
    margin-top:30px;
    padding:14px 30px;
    border:none;
    background:linear-gradient(90deg,#38bdf8,#0ea5e9);
    color:#0f172a;
    font-weight:600;
    box-shadow: 0 0 15px #38bdf8aa;
    border-radius:40px;
    cursor:pointer;
    transition:0.4s;
}
.btn:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow:0 0 30px #38bdf8;
}

section{
    padding:120px 8%;
    opacity:0;
    transform:translateY(50px);
    transition :1s ease;
}
section.show{
    opacity:1;
    transform:translateY(0);
}
/* .about,.contact{
    text-align:center;
} */

h2{
    text-align:center;
    margin-bottom:50px;
    font-size:2rem;
}


.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:rgba(255,255,255,0.05);
    padding:30px;
    border-radius:20px;
    position:relative;
    overflow:hidden;
    transition:0.5s;
    backdrop-filter:blur(12px);
}
.card::before{
    content:"";
    position:absolute;
    width:200px;
    height:200%;
    background:linear-gradient(45deg,transparent,#38bdf830,transparent);
    transform:rotate(45deg);
    top:-100%;
    left:-100%;
    transition:0.7s;
}

.card:hover::before {
    top:100%;
    left:100%;
}
.card:hover {

    transform:translateY(-10px);
    box-shadow: 0 15px 40px #38bdf830;
}
/* fergdgnhghhhhhhhhh */
/* form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
}
input,textarea{
    margin:10px 0;
    padding:12px;
    border-radius:8px;
    border:none;
}
footer{
    text-align:center;
    padding:20px;
    background:#1e293b;
} */
/* 
@media(max-width:768px){
    .nav-links{
        position:absolute;
        right:0;
        top :60px;
        background:#1e293b;
        flex-direction:column;
        width:200px;display:none;
    }
    .nav-links.active{
        display:flex;
    }
    .menu-toggle{
        display:block;
    }
} */

/* .skills{
    text-align:center;
} */
.skill-container{
    max-width:700px;
    margin: auto;
}

.skill{
    margin-bottom:30px;
}

.skill-info{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}

.progress-bar{
    /* width:100%; */
    height:12px;
    background:rgba(255,255,255,0.1);
    border-radius:20px;
    overflow:hidden;
}
.progress{
    height:100%;
    border-radius:20px;
    width:0;
    background:linear-gradient(90deg,#38bdf8,#0ea5e9);
    background-size:200% 100%;
    animation:shimmer 3s linear infinite;
    transition:width 1.5s ease;
}

@keyframes shimmer{
    from{
        background-position:0% 0;
    }
    to{
        background-position:200% 0;
    }
}
@keyframes fadeInup{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }

}

@media(max-width:768px){
    .hero h1{
        font-size:2.2rem;
    }
}
/* .progress.c{width:85%;}
.progress.python{width:90%;}
.progress.cpp{width:80%;} */